<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title"></h3>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% users.forEach(function(user){ %>
            <td><%= user._id %></td>
            <td><%= user.email %></td>
            <td>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </td>
          <% }) %>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
</div>
